<app-menu></app-menu>
<app-aside></app-aside>
<div class="main-centrado">
  <div class="pagetitle container-center">
    <h1>DATOS LABORALES DEL EMPLEADO</h1>
  </div>
  <div class="pagetitle">
    <h3>Registro</h3>
  </div>
  <mat-card>
    <mat-card-content>
      <form #formPersonalForm="ngForm" >
        <div>
          <mat-form-field class="example-full-width custom-mat-select3">
            <mat-label>Condicion Laboral</mat-label>
            <mat-select [(ngModel)]="selectedCondicionLaboral" name="condicionLaboral" required>
              @for (condicionLaboral of condicionLaboral; track condicionLaboral) {
                <mat-option [value]="condicionLaboral.id">{{condicionLaboral.descripcion}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

        </div>
        <div>
          <mat-form-field class="example-full-width custom-mat-select3">
            <mat-label>Area</mat-label>
            <mat-select [(ngModel)]="selectedArea" name="area" required>
              @for (area of area; track area) {
                <mat-option [value]="area.id">{{area.descripcion}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width custom-mat-select2">
            <mat-label>Banco</mat-label>
            <mat-select [(ngModel)]="selectedBanco" name="tipoDocumento" required>
              @for (banco of banco; track banco) {
                <mat-option [value]="banco.id">{{banco.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width custom-mat-select2">
            <mat-label>Número de Cuenta</mat-label>
            <input matInput placeholder="Número Cuenta" required name="numeroCuenta" type="text" pattern="\d*" maxlength="12">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width custom-mat-select2">
            <mat-label>Regimen Pensionario</mat-label>
            <mat-select [(ngModel)]="selectedRegimenPensionario" name="regimenPensionario" required>
              @for (regimenPensionario of regimenPensionario; track regimenPensionario) {
                <mat-option [value]="regimenPensionario.id">{{regimenPensionario.descripcion}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width custom-mat-select2">
            <mat-label>Comision</mat-label>
            <mat-select [(ngModel)]="selectedComision" name="comision" required>
              @for (comision of comision; track comision) {
                <mat-option [value]="comision.id">{{comision.descripcion}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width custom-mat-select2">
            <mat-label>Número CUPSS</mat-label>
            <input matInput placeholder="Número Cupss" required name="numeroCupss" type="text" pattern="\d*" maxlength="12">
          </mat-form-field>
        </div>
        <button mat-flat-button [disabled]="!formPersonalForm.form.valid" color="primary">Guardar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

