.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icono-editar {
  width: 24px; /* Establece el ancho deseado */
  height: 24px; /* Establece la altura deseada */
}
